/* Colores */
/* Fuentes */
* {
  margin: 0;
  padding: 0; }

/* Etiquetas h */
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: black; }

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #D88334;
  transition: all .15s ease-out; }
  h3:hover {
    transform: scale(1.1);
    transition: all .15s ease-out; }

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  color: white; }

/* Header y Navegador */
header {
  border-bottom: solid 1px #D88334;
  padding: 0px 2rem 0px 2rem;
  background-color: black; }

.nav__logo {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  transition: all .15s ease-out; }
  .nav__logo:hover {
    color: #D88334;
    transform: scale(1.1); }

.nav__seccion {
  margin-left: 2rem;
  transition: all .15s ease-out;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: all .15s ease-out; }
  .nav__seccion:hover {
    color: #D88334;
    transform: scale(1.1); }

.nav__bold {
  font-weight: 500;
  color: #D88334; }

.navbar-toggler {
  border: none; }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

/* Inicio */
.caption__ancho {
  width: 100%; }

.carousel-caption {
  display: flex;
  align-items: center;
  height: 100%; }

.inicio__titulo {
  color: white; }

.inicio__parrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  color: white; }

.boton {
  height: auto;
  width: auto;
  border: solid 1px #D88334;
  text-align: center;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  color: #D88334;
  text-decoration: none;
  transition: all .15s ease-out; }
  .boton:hover {
    transform: scale(1.15);
    background-color: #D88334;
    color: black; }
  .boton a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #D88334;
    text-decoration: none;
    transition: all .15s ease-out; }
    .boton a:hover {
      color: black; }

/* Tienda */
.tienda {
  padding: 2rem 0rem 0rem 0rem; }

.articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; }
  .articulo img {
    width: 20rem;
    height: 20rem;
    margin-bottom: 0.75rem;
    transition: all .15s ease-out;
    opacity: 75%; }
    .articulo img:hover {
      transform: scale(1.05);
      opacity: 100%;
      transition: all .15s ease-out; }
  .articulo a {
    text-decoration: none; }
  .articulo p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: black;
    margin: 0rem; }

/* Sobre Nosotros */
.sobre__parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 5rem 0rem 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: black; }
  .sobre__parrafo b {
    color: #D88334; }

.sobre__imagenUno {
  height: 25rem;
  background-image: url("../recursos/sobre1-medida.jpg"); }

.sobre__imagenDos {
  height: 25rem;
  background-image: url("../recursos/sobre2-medida.jpg"); }

/* Contacto */
.contacto {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .contacto__info {
    width: 15rem;
    margin-top: 2rem; }
    .contacto__info a {
      text-decoration: none; }
    .contacto__info p {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: 0.75rem;
      color: black; }
  .contacto__formulario label {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #D88334;
    margin-bottom: 1rem; }
    .contacto__formulario label input {
      display: block;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: 0.75rem;
      height: 2rem;
      width: 100%;
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      border: solid 1px #D88334; }
    .contacto__formulario label textarea {
      display: block;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: 0.75rem;
      height: 10rem;
      width: 100%;
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      border: solid 1px #D88334; }

/* Asociate */
.asociate {
  height: 50rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.asociate__parrafo {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  width: 775px;
  margin-bottom: 25px;
  margin-top: 20px;
  color: black; }

.asociate__formulario label {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #D88334;
  margin-bottom: 20px; }

.asociate__formulario label input {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  height: 30px;
  width: 775px;
  margin-top: 10px;
  padding-left: 10px;
  border: solid 1px #D88334; }

.asociate__formulario label textarea {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  height: 30px;
  width: 775px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  border: solid 1px #D88334; }

/* Footer */
footer {
  padding: 3rem 2rem 3rem 2rem;
  background-color: black; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.redes img {
  height: 2rem;
  width: 2rem;
  opacity: 75%;
  margin: 0rem 1rem 0rem 1rem;
  transition: all .15s ease-out; }

.redes img:hover {
  transform: scale(1.25); }

@media (min-width: 1031px) and (max-width: 1200px) {
  /* Contacto */
  .contacto {
    justify-content: flex-start; } }

@media (min-width: 577px) and (max-width: 1030px) {
  /* Sobre Nosotros */
  .sobre__parrafo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem; }
  .sobre__imagenUno {
    display: none; }
  .sobre__imagenDos {
    display: none; }
  /* Contacto */
  .contacto {
    justify-content: flex-start; } }

@media (max-width: 576px) {
  /* Footer */
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .derechos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center; }
  /* Sobre Nosotros */
  .sobre__parrafo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem; }
  .sobre__imagenUno {
    display: none; }
  .sobre__imagenDos {
    display: none; }
  /* Contacto */
  .contacto {
    justify-content: flex-start; } }

@media (min-width: 577px) and (max-width: 768px) {
  /* Footer */
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .derechos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center; }
  /* Sobre Nosotros */
  .sobre__parrafo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem; }
  .sobre__imagenUno {
    display: none; }
  .sobre__imagenDos {
    display: none; }
  /* Contacto */
  .contacto {
    justify-content: flex-start; } }
