*{
    margin: 0;
    padding: 0;
}

/* Etiquetas h */

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;    
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #D88334;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: rgb(255, 255, 255);
}

/* Header y Navegador */

header{
    border-bottom: solid 1px #D88334;
    padding: 0px 2rem 0px 2rem;
    background-color: #000000;
}

.nav__logo{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    transition: all .15s ease-out;
}

.nav__logo:hover{
    color: #D88334;
    transform: scale(1.10);
}

.nav__seccion{
    margin-left: 2rem;
    transition: all .15s ease-out;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;    
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all .15s ease-out;
}

.nav__seccion:hover{
    color: #d88334;
    transform: scale(1.10);
}

.nav__bold{
    font-weight: 500;
    color: #D88334;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Inicio */

.caption__ancho {
    width: 100%;
}

.carousel-caption {
    display: flex;
    align-items: center;
    height: 100%;
}

.inicio__titulo{
    color: white;
}

.inicio__parrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
}

.boton{
    height: auto;
    width: auto;
    border: solid 1px #D88334;
    text-align: center;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem;
    color: #D88334;
    text-decoration: none;
    transition: all .15s ease-out;
}

.boton:hover{
    transform: scale(1.15);
    background-color:#D88334;
    color: black;
}

.boton a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #D88334;
    text-decoration: none;
    transition: all .15s ease-out;
}

.boton a:hover{
    color: black;
}

/* Tienda */

.grid__tienda{
    display: grid;
    grid-template-areas: "uno dos tres cuatro"
                        "cinco seis siete ocho";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 70px;
}

.grid__articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.grid__articulo img{
    width: 20rem;
    height: 20rem;
    margin-bottom: 5px;
}

.grid__articulo p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: rgb(0, 0, 0);
}

.grid__artuno{
    grid-area: uno;
}

.grid__artdos{
    grid-area: dos;
}

.grid__arttres{
    grid-area: tres;
}

.grid__artcuatro{
    grid-area: cuatro;
}

.grid__artcinco{
    grid-area: cinco;
}

.grid__artseis{
    grid-area: seis;
}

.grid__artsiete{
    grid-area: siete;
}

.grid__artocho{
    grid-area: ocho;
}

/* Sobre Nosotros */

.sobreuno{
    width: auto;
    padding-top: 15px;
    padding-left: 15px;
}

.sobreuno__parrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    width: 775px;
    height: auto;
    margin-bottom: 15px;
}

.sobreuno__parrafo p{
    margin-bottom: 15px;
}

.sobredos{
    width: auto;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 25px;
}

.sobredos__parrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    width: 775px;
    height: auto;
    margin-top: 15px;
}

.sobredos__parrafo p{
    margin-bottom: 15px;
}

/* Contacto */

.contacto{
    height: 675px;
    width: auto;
    padding: 15px;
}

.contacto__formulario{
    margin-top: 20px;
}

.contacto__formulario label{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #D88334;
    margin-bottom: 20px;
}

.contacto__formulario label input{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    height: 30px;
    width: 775px;
    margin-top: 10px;
    padding-left: 10px;
    border: solid 1px #D88334;
}

.contacto__formulario label textarea{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    height: 150px;
    width: 775px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    border: solid 1px #D88334;
}

.contacto__info{
    width: 400px;
    margin-top: 30px;
}

.contacto__info p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 20px;
}

/* Asociate */

.asociate {
    height: 725px;
    width: auto;
    padding: 15px;
}

.asociate__parrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    width: 775px;
    margin-bottom: 25px;
    margin-top: 20px;
    color: black;
}

.asociate__formulario label{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #D88334;
    margin-bottom: 20px;
}

.asociate__formulario label input{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    height: 30px;
    width: 775px;
    margin-top: 10px;
    padding-left: 10px;
    border: solid 1px #D88334;
}

.asociate__formulario label textarea{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    height: 30px;
    width: 775px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    border: solid 1px #D88334;
}

/* Footer */

footer{
    padding: 3rem 2rem 3rem 2rem;
    background-color: black;
    
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.redes img{
    height: 30px;
    width: 30px;
    opacity: 75%;
    margin: 0rem 2rem 0rem 2rem;
    transition: all .15s ease-out;
}

.redes img:hover{
    transform: scale(1.25);
}

@media (max-width: 576px){

    /* Footer */

    .redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .derechos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        text-align: center;
    }

}

@media (min-width: 577px) and (max-width: 768px){

    /* Footer */

    .redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .derechos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        text-align: center;
    }

}