/* Colores */

$color-principal: #D88334;
$color-secundario: black;
$color-terciario: white;

/* Fuentes */

$fuente-principal: 'Poppins', sans-serif;
$fuente-logo: 'Playfair Display', serif;
$fuente-grande: 2rem;
$fuente-media: 1rem;
$fuente-chica: 0.75rem;
$fuente-regular: 300;
$fuente-bold: 500;

