@import 'variables';

* {
  margin: 0;
  padding: 0; 
}

/* Etiquetas h */

h1 {
  font-family: $fuente-principal;
  font-weight: $fuente-bold;
  font-size: $fuente-grande;
  color: $color-secundario; 
}

h3 {
  font-family: $fuente-principal;
  font-weight: $fuente-bold;
  font-size: $fuente-media;
  color: $color-principal;
  transition: all .15s ease-out;
  &:hover {
    transform: scale(1.1);
    transition: all .15s ease-out;
  }
}

h5 {
  font-family: $fuente-principal;
  font-weight: $fuente-regular;
  font-size: $fuente-chica;
  color: $color-terciario; 
}

/* Header y Navegador */

header {
  border-bottom: solid 1px $color-principal;
  padding: 0px 2rem 0px 2rem;
  background-color: $color-secundario;
}

.nav {
  &__logo {
    font-family: $fuente-logo;
    font-size: $fuente-grande;
    transition: all .15s ease-out;
    &:hover {
      color: $color-principal;
      transform: scale(1.1);
    }
  }
  &__seccion {
    margin-left: 2rem;
    transition: all .15s ease-out;
    font-family: $fuente-principal;
    font-weight: $fuente-regular;
    font-size: $fuente-media;
    color: $color-terciario; 
    text-decoration: none;
    transition: all .15s ease-out;
    &:hover {
      color: $color-principal;
      transform: scale(1.1);
    }
  }
  &__bold {
    font-weight: $fuente-bold;
    color: $color-principal;
  }
}

.navbar {
  &-toggler {
    border: none;
    &-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }
}

/* Inicio */

.caption {
  &__ancho {
    width: 100%;
  }
}

.carousel {
  &-caption {
    display: flex;
    align-items: center;
    height: 100%; 
  }  
}

.inicio {
  &__titulo {
    color: $color-terciario; 
  }
  &__parrafo {
    font-family: $fuente-principal;
    font-weight: $fuente-regular;
    font-size: $fuente-media;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: $color-terciario; 
  }
}

.boton {
  height: auto;
  width: auto;
  border: solid 1px $color-principal;
  text-align: center;
  background-color: transparent;
  font-family: $fuente-principal;
  font-weight: $fuente-bold;
  font-size: $fuente-media;
  padding: 0.5rem;
  color: $color-principal;
  text-decoration: none;
  transition: all .15s ease-out;
  &:hover {
    transform: scale(1.15);
    background-color: $color-principal;
    color: $color-secundario;
  }
  & a {
    font-family: $fuente-principal;
    font-weight: $fuente-bold;
    font-size: $fuente-media;
    color: $color-principal;
    text-decoration: none;
    transition: all .15s ease-out;
    &:hover {
      color: $color-secundario;
    }
  }
}

/* Tienda */

.tienda {
  padding: 2rem 0rem 0rem 0rem; 
}

.articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  & img {
    width: 20rem;
    height: 20rem;
    margin-bottom: 0.75rem;
    transition: all .15s ease-out;
    opacity: 75%;
    &:hover {
      transform: scale(1.05);
      opacity: 100%;
      transition: all .15s ease-out;
    }
  }
  & a {
    text-decoration: none;
  }
  & p {
    font-family: $fuente-principal;
    font-weight: $fuente-regular;
    font-size: $fuente-chica;
    color: $color-secundario;
    margin: 0rem;
  }
}

/* Sobre Nosotros */

.sobre {
  &__parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 5rem 0rem 5rem;
    font-family: $fuente-principal;
    font-weight: $fuente-regular;
    font-size: $fuente-media;
    color: $color-secundario;
    & b {
      color: $color-principal;
    }
  }
  &__imagenUno {
    height: 25rem;
    background-image: url("../recursos/sobre1-medida.jpg");
  }
  &__imagenDos {
    height: 25rem;
    background-image: url("../recursos/sobre2-medida.jpg");
  }
}

/* Contacto */

.contacto {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__info {
    width: 15rem;
    margin-top: 4.5rem; 
    & h3 {
      &:hover {
        display: none;
      }
    }
    & p {
      font-family: $fuente-principal;
      font-weight: $fuente-regular;
      font-size: $fuente-chica;
      color: $color-secundario; 
    }
  }
  &__formulario label {
    display: block;
    font-family: $fuente-principal;
    font-weight: $fuente-bold;
    font-size: 1rem;
    color: $color-principal;
    margin-bottom: 1rem; 
    & input {
      display: block;
      font-family: $fuente-principal;
      font-weight: $fuente-regular;
      font-size: $fuente-chica;
      height: 2rem;
      width: 100%;
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      border: solid 1px $color-principal;     
    }
    & textarea {
      display: block;
      font-family: $fuente-principal;
      font-weight: $fuente-regular;
      font-size: $fuente-chica;
      height: 10rem;
      width: 100%;
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      border: solid 1px $color-principal; 
    }
  }
}

/* Asociate */

.asociate {
  height: auto;
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__parrafo {
    font-family: $fuente-principal;
    font-weight: $fuente-regular;
    font-size: $fuente-media;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: $color-secundario; 
  }
  &__formulario {
    & label {
      display: block;
      font-family: $fuente-principal;
      font-weight: $fuente-bold;
      font-size: $fuente-media;
      color: $color-principal; 
      margin-bottom: 1rem;
      & input {
        display: block;
        font-family: $fuente-principal;
        font-weight: $fuente-regular;
        font-size: $fuente-chica;
        height: 2rem;
        width: 100%;
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        border: solid 1px $color-principal; 
      }
      & textarea {
        display: block;
        font-family: $fuente-principal;
        font-weight: $fuente-regular;
        font-size: $fuente-chica;
        height: 10rem;
        width: 100%;
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        margin-bottom: 1rem;
        border: solid 1px $color-principal; 
      }
    }
  }
}

/* Footer */

footer {
  padding: 3rem 2rem 3rem 2rem;
  background-color: black; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  & img {
    height: 2rem;
    width: 2rem;
    opacity: 75%;
    margin: 0rem 1rem 0rem 1rem;
    transition: all .15s ease-out;
    &:hover {
      transform: scale(1.25);
    }
  }
}

  @import 'mediaqueries';